body {
	background-color: rgba(198, 213, 132, 1);
}
h1 {
	color: rgba(105, 107, 97, 1);
	font-size: 40px;
	font-family: Georgia, serif;
	text-align: center;
	margin: 80px;
}

h2 {
	color: rgba(105, 107, 97, 1);
}


p {
	color: rgba(105, 107, 97, 1);
}

a {
		color: rgb(182, 87, 134);
}


	



.card1 {
	
	background-color: rgba(255, 247, 193, 1);
	padding: 50px;
	margin: 0 auto;
	border-radius: 30px;
	text-align: center;
	font-family: Verdana, sans-serif;
	width: 80%
	

	
	
}
	
.card-container {
	width: 80%;
    padding: 40px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 50px;
   
}	

@media (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card {
	background-color: rgba(255, 247, 193, 1);
    padding: 50px;
    border-radius: 30px;
    font-family: Verdana, sans-serif;

	
	
}

