body {
	background-color: rgba(198, 213, 132, 1);
}
h1 {
	color: rgba(105, 107, 97, 1);
	font-size: 40px;
	font-family: Georgia, serif;
	text-align: center;
	margin: 80px;
}

h2 {
	color: rgba(105, 107, 97, 1);
}


p {
	color: rgba(105, 107, 97, 1);
}


.content {
	max-width: 2000px;
	margin: 0 auto;
	font-family: Verdana, sans-serif;
}


.card1 {
	max-width: 2000px;
	background-color: rgba(255, 247, 193, 1);
	padding: 50px;
	margin: 0 auto;
	border-radius: 30px;
	text-align: center;
	

	
	
}
	
.card-container {
	max-width: 2000px;
	padding: 40px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	
}

.card {
	background-color: rgba(255, 247, 193, 1);
	padding: 50px;
	width: 450px;
	margin: 30px;
	border-radius: 30px;

	
	
}
